
{% extends 'back/master.html' %}
{% load static %}

{% block mainblock %}

</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
  Error
  <small>{{error}}</small>
</h1>
</section>


</div>

  {% endblock %}

  {% block footerblock %}
  <script src="{% static 'back/dist/js/demo.js' %}"></script>
  <!-- page script -->
  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
  {% endblock %}