
{% extends 'back/master.html' %}
{% load static %}

{% block headblock %}

  <script src = "{%static 'ckeditor/ckeditor.js' %}"></script>

{% endblock %}

{% block mainblock %}

</section>
<!-- /.sidebar -->
</aside>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
<h1>
  Edit News
  <small>you can add, edit and delete your data</small>
</h1>
<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li class="active">News</li>
  <li><a href="/panel/news/edit/{{pk}}">Edit</a></li>
</ol>
</section>

<!-- Main content -->
<section class="content">
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Edit News</h3>
          </div>
          <!-- /.box-header -->
          <!-- form start -->
          <form action="{%url 'news_edit' pk=pk%}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
            {% csrf_token %}
            <div class ="form-group">
              <div class="col-md-7">
                <input type="text" value = "{{news.name}}", id="newstitle" name="newstitle" class="form-control" placeholder="News Title">
              </div>
              <div class="col-md-5">
               
                <select id ="example-chosen" name="newscat" class="select-chosen" data-placeholder="choose a Category..." style="width: 100%">
                 
                  <option value="{{news.catid}}">{{newsapp.i.catname}}</option> 
                  {% for i in cat %}
                  <option value="{{i.pk}}">{{i.catname}} | {{i.name}}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class ="form-group">
              <div class="col-md-12">
                <textarea type="text" id = "newstxtshort" name="newstxtshort" row="5" class="form-control" placeholder="Short txt">{{news.short_txt}}</textarea>
              </div>
              <script>
                CKEDITOR.replace( "newstxtshort" );
              </script>
            </div>

            <div class ="form-group">
              <div class="col-md-12">
                <textarea type="text" id="newstxt" name="newstxt" row="5" class="form-control" placeholder="Body">{{news.body_txt}}</textarea>
              </div>
              <script>
                CKEDITOR.replace( "newstxtshort" );
              </script>
            </div>

            <div class ="form-group">
              <div class="col-md-12">
                <input type="file" id="myfile" name="myfile" row="5" class="form-control" placeholder="Body">
                <br></br>
                
                <textarea type="text" id="tag" name="tag" row="5" class="form-control" placeholder="Tags">{{news.tag}}</textarea>
              </div>
              <div class="col-md-12">
                 <img style = "display: inline-block; width:350px; height:300px;" src="{{news.picurl}}">
              </div>

              
            </div>

            <div class ="form-group">
              <div class="col-md-12">
                <button type="submit" class="btn btn=sm btn-primary"><i class="fa fa-angle-right"></i>Submit</button>
              </div>
            </div>

            <!-- /.box-body -->
          </form>
        </div>
        <!-- /.box -->

      
    <!-- /.row -->
  </section>
</section>
<!-- /.content -->
</div>

  {% endblock %}

  {% block footerblock %}
  <script src="{% static 'back/dist/js/demo.js' %}"></script>
  <!-- page script -->
  <script>
    $(function () {
      $('#example1').DataTable()
      $('#example2').DataTable({
        'paging'      : true,
        'lengthChange': false,
        'searching'   : false,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>
  {% endblock %}